.card {
  width: 13%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.backCard {
  max-width: 100%;
  height: auto;
  opacity: 0;
}

.card--0C {
  background-image: url(../../Resources/Images/Cards/0C.png); 
}
.card--0D {
  background-image: url(../../Resources/Images/Cards/0D.png); 
}
.card--0H {
  background-image: url(../../Resources/Images/Cards/0H.png); 
}
.card--0S {
  background-image: url(../../Resources/Images/Cards/0S.png); 
}
.card--2C {
  background-image: url(../../Resources/Images/Cards/2C.png); 
}
.card--2D {
  background-image: url(../../Resources/Images/Cards/2D.png); 
}
.card--2H {
  background-image: url(../../Resources/Images/Cards/2H.png); 
}
.card--2S {
  background-image: url(../../Resources/Images/Cards/2S.png); 
}
.card--3C {
  background-image: url(../../Resources/Images/Cards/3C.png); 
}
.card--3D {
  background-image: url(../../Resources/Images/Cards/3D.png); 
}
.card--3H {
  background-image: url(../../Resources/Images/Cards/3H.png); 
}
.card--3S {
  background-image: url(../../Resources/Images/Cards/3S.png); 
}
.card--4C {
  background-image: url(../../Resources/Images/Cards/4C.png); 
}
.card--4D {
  background-image: url(../../Resources/Images/Cards/4D.png); 
}
.card--4H {
  background-image: url(../../Resources/Images/Cards/4H.png); 
}
.card--4S {
  background-image: url(../../Resources/Images/Cards/4S.png); 
}
.card--5C {
  background-image: url(../../Resources/Images/Cards/5C.png); 
}
.card--5D {
  background-image: url(../../Resources/Images/Cards/5D.png); 
}
.card--5H {
  background-image: url(../../Resources/Images/Cards/5H.png); 
}
.card--5S {
  background-image: url(../../Resources/Images/Cards/5S.png); 
}
.card--6C {
  background-image: url(../../Resources/Images/Cards/6C.png); 
}
.card--6D {
  background-image: url(../../Resources/Images/Cards/6D.png); 
}
.card--6H {
  background-image: url(../../Resources/Images/Cards/6H.png); 
}
.card--6S {
  background-image: url(../../Resources/Images/Cards/6S.png); 
}
.card--7C {
  background-image: url(../../Resources/Images/Cards/7C.png); 
}
.card--7D {
  background-image: url(../../Resources/Images/Cards/7D.png); 
}
.card--7H {
  background-image: url(../../Resources/Images/Cards/7H.png); 
}
.card--7S {
  background-image: url(../../Resources/Images/Cards/7S.png); 
}
.card--8C {
  background-image: url(../../Resources/Images/Cards/8C.png); 
}
.card--8D {
  background-image: url(../../Resources/Images/Cards/8D.png); 
}
.card--8H {
  background-image: url(../../Resources/Images/Cards/8H.png); 
}
.card--8S {
  background-image: url(../../Resources/Images/Cards/8S.png); 
}
.card--9C {
  background-image: url(../../Resources/Images/Cards/9C.png); 
}
.card--9D {
  background-image: url(../../Resources/Images/Cards/9D.png); 
}
.card--9H {
  background-image: url(../../Resources/Images/Cards/9H.png); 
}
.card--9S {
  background-image: url(../../Resources/Images/Cards/9S.png); 
}
.card--AC {
  background-image: url(../../Resources/Images/Cards/AC.png); 
}
.card--AD {
  background-image: url(../../Resources/Images/Cards/AD.png); 
}
.card--AH {
  background-image: url(../../Resources/Images/Cards/AH.png); 
}
.card--AS {
  background-image: url(../../Resources/Images/Cards/AS.png); 
}
.card--JC {
  background-image: url(../../Resources/Images/Cards/JC.png); 
}
.card--JD {
  background-image: url(../../Resources/Images/Cards/JD.png); 
}
.card--JH {
  background-image: url(../../Resources/Images/Cards/JH.png); 
}
.card--JS {
  background-image: url(../../Resources/Images/Cards/JS.png); 
}
.card--KC {
  background-image: url(../../Resources/Images/Cards/KC.png); 
}
.card--KD {
  background-image: url(../../Resources/Images/Cards/KD.png); 
}
.card--KH {
  background-image: url(../../Resources/Images/Cards/KH.png); 
}
.card--KS {
  background-image: url(../../Resources/Images/Cards/KS.png); 
}
.card--QC {
  background-image: url(../../Resources/Images/Cards/QC.png); 
}
.card--QD {
  background-image: url(../../Resources/Images/Cards/QD.png); 
}
.card--QH {
  background-image: url(../../Resources/Images/Cards/QH.png); 
}
.card--QS {
  background-image: url(../../Resources/Images/Cards/QS.png); 
}
