html {
  height: 100%;
  box-sizing: border-box;
}
body {  
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #0b670b;
  color: #fff;
  font-family: Arial;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 100%;
 
}

.wrap { 
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-basis: 100%;
  min-width: 100%;
  background-color: #0b670b;
  color: #fff;
  box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
}
.deck {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-basis: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;

}
.intro {
 text-align: center;
 width: 100%;
}
.startGameImage {
  max-width: 501px;
  width: 100%;
  background: url(../src/Resources/Images/StartGame.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.startGameImage > div {
  width: 100%;
  padding-bottom: 51.3%;
}

.finishGameImage {
  max-width: 501px;
  width: 100%;
  background: url(../src/Resources/Images/FinishGame.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.finishGameImage > div {
  width: 100%;
  padding-bottom: 51.3%;
}

.buttonStart {
  color: #fff; 
  text-decoration: none;
  background-color: #ef5c18;;
  padding: 16px 40px 18px;
  outline: none;
  border: 0;
  font-size: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.buttonStart.desabled {
  background: gray;
}
.buttonStart.desabled:hover {
  background: gray;
  cursor: default;
}
.buttonStart:hover,
.buttonStart:active { 
  background-color: #d44a0b; 
}
.start_again {
  color:  #fff;
}

.b-cards-control {
 width: 100%;
 max-width: 900px;
 padding-left: 15px;
}
.cardsWrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.card {
  width: 15%;
  margin-right: 1.6%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  cursor: pointer;
}

.cardsBack {
  width: 100%;
  position: relative;
  padding-bottom: 138.9%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.8;
}

@media (max-width: 414px) {
  .card {
    width: 22%;
  }
}

.gameMenu {
   display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 45px;
}
.gameMenu .buttonStart {
  font-size: 18px;
  padding: 5px 20px 7px;
  background-color: transparent;
  transition: color 0.3s;
  position: relative;
  top: -6px;
}
.gameMenu .buttonStart:hover {
  color: #f3783f;
}

.timerWrap {
  height: 45px;
}

div[data-desabled="true"] {
  pointer-events: none;
}
div[data-desabled="false"] {
  pointer-events: auto;
}

div[data-open="true"] {
  pointer-events: none;  
}
div[data-open="true"] .cardsBack {
   opacity: 0;
   
}
div[data-open="false"] .cardsBack  {
  opacity: 0.8;
  /* opacity: 1; */
}

div[data-guessed="true"] {
  background: none;
  pointer-events: none;
}
div[data-guessed="true"] .cardsBack {
   opacity: 0;
}

.b-settings {
  max-width: 300px;
  margin: 0 auto 20px;
}
.b-settings .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 15px;
}
.b-settings .row label {
  width: 80%;
  position: relative;
  font-size: 20px;
}
.b-settings .row input {
  text-align: center;
}
.b-settings .row label .warn {
  position: absolute;
}
.warning .warn {
  display: none;
}
.warningError .warn {
  display: block;
  color: red;
  background: #fff;
  padding: 3px;
  font-size: 16px;
  top: 0;
  right: -100%;
}
